[Desktop Entry]
Name=Software Media Manager
Name[af]=Software Media Manager
Name[ar]=مدير وسائط البرمجيات
Name[az]=Tə'minat Mənbələri İdarəçisi
Name[bg]=Мениджър за софтуерни източници
Name[bn]=সফ্টওয়্যার মিডিয়া ম্যানেজার
Name[br]=Merour ar pakadoù
Name[bs]=Upravitelj medijima softvera
Name[ca]=Gestor de Fonts de Programari
Name[cs]=Správce zdrojů software
Name[cy]=Rheolwr Cyfrwng Meddalwedd
Name[da]=Administration af programmelmedier
Name[de]=Paketquellen-Manager
Name[el]=Διαχειριστής Μέσων Λογισμικού
Name[es]=Administrador de soportes de software
Name[et]=Tarkvaraallikate haldur
Name[eu]=Software-euskarrien kudeatzailea
Name[fa]=مدیر رسانه‌های نرم‌افزاری
Name[fi]=Ohjelmistolähteiden hallinta
Name[fr]=Gestionnaire de Médias Logiciels
Name[fur]=Gjestôr des Fonts Software
Name[gl]=Xestor de Soportes de Software
Name[he]=מנהל מקורות תוכנה
Name[hi]=सॉफ़्टवेयर मीडीया प्रबंधक
Name[hr]=Upravitelj sesija
Name[hu]=Szoftverforrás-kezelő
Name[id]=Manajer Media Perangkat Lunak
Name[is]=Hugbúnaðar-miðla-tól
Name[it]=Gestiore dei supporti software
Name[ja]=RPM メディアマネージャ
Name[ky]=Программалар Булагынын Менеджери
Name[mk]=Менаџерот на софтверски медиуми
Name[ms]=Pengurus Media Perisian
Name[mt]=Maniġġjar ta' sorsi tas-softwer
Name[nb]=Programvaremediehåndterer
Name[nl]=Software Mediabeheer
Name[nn]=Mediehandtering
Name[pa_IN]=ਸਾਫਟਵੇਅਰ ਮਾਧਿਅਮ ਪ੍ਰਬੰਧਕ
Name[pl]=Menedżer nośników oprogramowania
Name[pt]=Gestor de Médias de Software
Name[pt_BR]=Gerenciador de Mídia de Software
Name[ro]=Administrator surse de programe
Name[ru]=Менеджер источников программ
Name[sc]=Manijadori de Mèdius de Programas
Name[sk]=Manažér zdrojov softvéru
Name[sl]=Upravitelj virov programske opreme
Name[sq]=Menagjues i Burimit Softver
Name[sr]=Менаџер за Медије са софтвером
Name[sr@Latn]=Menadžer za Medije sa softverom
Name[sv]=Programhanterare för media
Name[tg]=Мудири Сарчашмаҳои Нармафзор
Name[th]=Software Media Manager
Name[tl]=Tagapangasiwa ng Software Media
Name[tr]=Yazılım Kaynak Yöneticisi
Name[uk]=Менеджер джерел програм
Name[uz]=Дастурлар тўпламини бошқарувчи
Name[uz@Latn]=Dasturlar to'plamini boshqaruvchi
Name[vi]=Trình Quản Lý Nguồn Phần Mềm
Name[wa]=Manaedjeu des sopoirts d' astalaedje
Name[zh_CN]=软件介质管理器
Name[zh_TW]=軟體套件媒體管理員
Icon=/usr/share/mcc/themes/default/source-manager.png
Exec=/usr/sbin/edit-urpm-sources.pl
TryExec=/usr/sbin/edit-urpm-sources.pl
Terminal=0
Type=Application
Categories=System;PackageManager;
StartupNotify=false
