[Desktop Entry]
Name=Remove Software
Name[af]=Verwyder Sagteware
Name[ar]=احذف البرنامج
Name[az]=Proqram Sil
Name[bg]=Изтрива софтуер
Name[bn]=সফ্টওয়্যার সরিয়ে ফেলো
Name[br]=Lemel Poelladoù
Name[bs]=Ukloni softver
Name[ca]=Elimina programari
Name[cs]=Odebrat software
Name[cy]=Tynnu Meddalwedd
Name[da]=Fjern programmel
Name[de]=Software entfernen
Name[el]=Αφαίρεση Λογισμικού
Name[eo]=Malinstalu programo(j)n
Name[es]=Quitar software
Name[et]=Tarkvara eemaldamine
Name[eu]=Kendu softwarea
Name[fa]=برداشتن نرم‌افزار
Name[fi]=Poista ohjelmia
Name[fr]=Supprimer des Logiciels
Name[fur]=Rimôf Software
Name[gl]=Eliminar Software
Name[he]=הסרת תוכנה
Name[hi]=सॉफ़्टवेयर निरस्तीकरण
Name[hr]=Ukloni software
Name[hu]=Szoftvereltávolítás
Name[id]=Hapus Perangkat Lunak
Name[is]=Fjarlægja hugbúnað
Name[it]=Rimuovi software
Name[ja]=RPM を削除
Name[ko]=소프트웨어 제거
Name[ky]=Программаны алып салуу
Name[lv]=Noņemt programmatūru
Name[mk]=Отстранување софтвер
Name[ms]=Buang Perisian
Name[mt]=Neħħi softwer
Name[nb]=Fjern programvare
Name[nl]=Software verwijderen
Name[nn]=Fjern programvare
Name[pa_IN]=ਸਾਫਟਵੇਅਰ ਹਟਾਓ
Name[pl]=Usuwanie oprogramowania
Name[pt]=Remover Software
Name[pt_BR]=Remover software
Name[ro]=Ştergere programe
Name[ru]=Удаление программ
Name[sc]=Srèxina programas
Name[sk]=Odstrániť softvér
Name[sl]=Odstrani programsko opremo
Name[sq]=Zhduke Softverin
Name[sr]=Уклони софтвер
Name[sr@Latn]=Ukloni softver
Name[sv]=Ta bort program
Name[ta]= ெமன்ெபாருளை நீக்கவும்
Name[tg]=Хориҷи Нармафзор
Name[th]=ลบโปรแกรท
Name[tl]=Mag-alis ng Software
Name[tr]=Yazılımı Kaldır
Name[uk]=Видалити програми
Name[uz]=Дастурларни олиб ташлаш
Name[uz@Latn]=Dasturlarni olib tashlash
Name[vi]=Gỡ Bỏ Phần Mềm
Name[wa]=Oister des programes
Name[zh_CN]=删除软件
Name[zh_TW]=移除軟體
Icon=/usr/share/mcc/themes/default/rpmdrake-remove.png
Exec=/usr/sbin/rpmdrake-remove --root
TryExec=/usr/sbin/rpmdrake-remove --root
Terminal=0
Type=Application
Categories=System;SystemSetup;X-Mandrake-SoftwareManagement
StartupNotify=false
