[Desktop Entry]
Encoding=UTF-8
Name=Install Software
Name[af]=Installeer Sagteware
Name[ar]=تثبيت البرامج
Name[az]=Proqram Qur
Name[bg]=Инсталиране на софтуер
Name[bn]=সফ্টওয়্যার ইনস্টল করো
Name[br]=Staliañ Poelladoù
Name[bs]=Instaliraj softver
Name[ca]=Instal·lació de programari
Name[cs]=Instalovat software
Name[cy]=Gosod Meddalwedd
Name[da]=Installér programmel
Name[de]=Software installieren
Name[el]=Εγκατάσταση Λογισμικού
Name[eo]=Instalu programojn
Name[es]=Instalar software
Name[et]=Tarkvara paigaldamine
Name[eu]=Instalatu softwarea
Name[fa]=نصب نرم‌افزار
Name[fi]=Asenna ohjelmia
Name[fr]=Installer des Logiciels
Name[fur]=Instale Software
Name[ga]=Suiteáil bogearraí
Name[gl]=Instalar Software
Name[he]=התקנת תוכנה
Name[hi]=सॉफ़्टवेयर संसाधन
Name[hr]=Instaliraj sve
Name[hu]=Szoftvertelepítés
Name[id]=Install Perangkat Lunak
Name[is]=Setja inn hugbúnað
Name[it]=Installa software
Name[ja]=RPM をインストール
Name[ko]=소프트웨어 설치
Name[ky]=Программаны орнотуу
Name[lv]=Instalēt programmatūru
Name[mk]=Инсталирање софтвер
Name[mt]=Installa Softwer
Name[nb]=Installer programvare
Name[nl]=Software installeren
Name[nn]=Installer programvare
Name[pa_IN]=ਸਾਫਟਵੇਅਰ ਇੰਸਟਾਲ
Name[pl]=Instalacja oprogramowania
Name[pt]=Instalar Software
Name[pt_BR]=Instalar software
Name[ro]=Instalare programe
Name[ru]=Установка программ
Name[sc]=Aposenta programas
Name[sk]=Inštalácia softvéru
Name[sl]=Namesti programsko opremo
Name[sq]=Instaloje Softverin
Name[sr]=Инсталирај софтвер
Name[sr@Latn]=Instaliraj softver
Name[sv]=Installera program
Name[ta]=ெமன்ெபாருளை நிறுவுங்கள்
Name[tg]=Коргузории нармафзор
Name[th]=Install โปรแกรม
Name[tl]=Mag-install ng Software
Name[tr]=Yazılımı Kur
Name[uk]=Встановити пакунки
Name[uz]=Дастурларни ўрнатиш
Name[uz@Latn]=Dasturlarni o'rnatish
Name[vi]=Cài đặt Phần mềm
Name[wa]=Astaler des programes
Name[zh_CN]=安装软件
Name[zh_TW]=安裝軟體
Icon=/usr/share/mcc/themes/default/rpmdrake.png
Exec=/usr/sbin/rpmdrake --root
Terminal=0
Type=Application
Categories=System;SystemSetup;
StartupNotify=false
